@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/* RESET */
*, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
img {
      display: block;
      max-width: 100%;
      height: auto;
}
/* CSS VARIABLES */
:root {
     /*  FONTS */
     --FF: "Alegreya", serif, Georgia;
     --FF-HEADINGS: "Source Sans 3", sans-serif;
     --FS: clamp(1rem, 2.4vh, 1.5rem);
     /* COLORS */
     --BGCOLOR: #33EEBF;
     --FONT-COLOR: #112A46;
     --HEADER-BGCOLOR: #DFE0E2;
     --BORDER-COLOR: #75ABBC;
     --NAV-BGCOLOR: #112A46;
     --LINK-ACTIVE: #75ABBC;
     --LINK-COLOR: #071013;
     --LINK-HOVER: hsla(0, 0%, 0%, 0.5);
     --HIGHLIGHT-COLOR: #071013;
     /* BORDERS */
     --BORDERS: 1px solid #75ABBC;
     --BORDER-RADIUS: 15px;
     /* PADDING */
     --PADDING-TB: 0.5em;
     --PADDING-SIDE: 3%;
     /* MARGIN */
     --MARGIN: clamp(1em, 3vh, 2em) 0;
}
/* UTILITY CLASSES */
.nowrap {
      white-space: nowrap;
}
.center {
      text-align: center;
}
/* GENERAL STYLES */
html {
      scroll-behavior: smooth;
      font-size: var(--FS);
      font-family: var(--FF);
      overflow-x:hidden;
}
body {
      background-color: var(--BGCOLOR);
      color: var(--FONT-COLOR);
      min-height: 100vh;
      overflow-x: hidden;
}
figcaption {
      margin: var(--MARGIN);
      padding: 1rem;
}
h2,h3 {
      margin-bottom: 1.5em;
      color: var(--HIGHLIGHT-COLOR);
      font-family: var(--FF-HEADINGS);
      letter-spacing: 0.1em;
}
p {
      line-height: 1.5;
      text-align: justify;
      margin: var(--MARGIN);
      padding: 1rem;
}
a:any-link {
      color: var(--LINK-COLOR);
}
a:hover, a:focus {
      color: var(--LINK-HOVER);
}
a:active {
      color: var(--LINK-ACTIVE);
}
/* HEADER */
.header{
      position: sticky;
      top: 0;
      z-index: 9999;
}
.header__nav {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: var(--NAV-BGCOLOR);
      color: var(--HEADER-BGCOLOR);
}
.navbar-links ul {
      margin: 0;
      padding: 0;
      display: flex;
}
.navbar-links li {
      list-style: none;
}
.navbar-links a:any-link {
      color: var(--HEADER-BGCOLOR);
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      margin: auto;
      padding: 1rem;
      display: block;
}
.navbar-links a:hover, .navbar-links a:focus {
      transform: scale(1.2);
      transition: all 0.3s;
}
.toggle-button {
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
}
.toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: var(--HEADER-BGCOLOR);
      border-radius: 10px;
}
@media (max-width: 400px) {
      .toggle-button {
            display: flex;
      }
      .navbar-links {
            display: none;
            width: 100%;
      }
      .header__nav {
            flex-direction: column;
            align-items: flex-end;
      }
      .navbar-links ul {
            width: 100%;
            flex-direction: column;
      }
      .navbar-links li {
            text-align: center;
      }
      .navbar-links li a {
            padding: 0.5rem 1rem;
      }
      .navbar-links.active {
            display: flex;
      }
      .index-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
      .index-main h1 {
            text-align: center;
            font: 6rem;
      }
      .main, .footer {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
      }
}
/* HERO*/
.hero__figure-ac {
      background-image: url(/images_acids/blue_LCs.jpg);
      width: 100%;
      height: auto;
      min-width: 100px;
      background-repeat: repeat;
      background-size: cover;
      display: flex;
      flex-flow: row nowrap;
      transform: scaleY(1.1);
      border-bottom: var(--BORDERS);
}
.hero__figure-ab {
      background-image: url(/images_acids/silicone_color.jpg);
      width: 100%;
      min-height: 100px;
      min-width: 100px;
      background-repeat: no-repeat;
      display: flex;
      flex-flow: row nowrap;
      background-size: cover;
      transform: scaleY(1.2);
      border-bottom: var(--BORDERS);
      overflow-x: hidden;
}
.hero__figure-ch {
      background-image: url(/images2/images/bentcore_green.jpg);
      width: 100%;
      height: auto;
      min-width: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-flow: row nowrap;
      border-bottom: var(--BORDERS);
      overflow-x: hidden;
      transform: scale(1.2);
}
.hero__figure-ba {
      background-image: url(/images_acids/lc1.jpg);
      width: 100%;
      height: auto;
      min-width: 200px;
      background-repeat: repeat-y;
      background-size: cover;
      display: flex;
      flex-flow: row nowrap;
      border-bottom: var(--BORDERS);
      overflow-x: hidden;
}
.hero__h1 {
      font-size: 400%;
      text-shadow: 1px 1px 4px var(--BORDER-COLOR);
      text-align: center;
      font-family: var(--FF-HEADINGS);
      letter-spacing: 0.1em;
      margin-top: 6rem;
      padding: 10rem 7rem;
}
/* MAIN */
.index-main {
      position: relative;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
}
.main {
      padding: var(--PADDING-TB) var(--PADDING-SIDE);
      min-height: 100vh;
      min-width: 100vw;
      overflow-x: hidden;
}
.main__article {
      scroll-margin-top: 6.5rem;
      margin: var(--MARGIN);
      padding: var(--PADDING-TB) var(--PADDING-SIDE);
}
.main__article:first-child {
      margin-top: 1em;
}
.main__article:last-child {
      min-height: calc(100vh - 20rem);
}
.main__article p {
      margin-left: 0;
      padding-left: 0.2rem;
}
/* FOOTER */
.footer {
      position: sticky;
      bottom: 0;
      background-color: var(--NAV-BGCOLOR);
      color: var(--HEADER-BGCOLOR);
      padding: var(--PADDING-TB) var(--PADDING-SIDE);
      text-align: center;
}
.footer p {
      margin: 0.1rem;
      background-color: var(--NAV-BGCOLOR);
      color: var(--HEADER-BGCOLOR);
      padding: 0.1rem;
      text-align: center;
}
/* ACIDS */
.main__article figure {
      margin-bottom: 1em;
      padding: var(--PADDING-TB);
}
.main__article-ac {
      margin-top: 1.5em;
      padding: var(--PADDING-TB) var(--PADDING-SIDE);
}
.main__article-ac section {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      align-items: flex-start;
      gap: 1.5rem;
}
.main__article-ac:last-child {
      margin-bottom: 0;
      padding: var(--PADDING-TB);
}
.article-ac__figure {
      display: flex;
      flex-flow: row nowrap;
      padding: var(--PADDING-TB) var(--PADDING-SIDE);
      margin-top: 0.5rem;
}
.ac-img {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 0.2rem;
}
.ac-img img {
      margin-left: 1rem;
      margin-top: 2.5rem;
}
.ac-img figcaption {
      margin-top: 0;
      margin-left: 1rem;
      padding-left: 0.4rem;
}
/* ABOUT */
.firstsection {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
}
.secondsection {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: flex-start;
}
.thirdsection {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
}
.section_ab p {
      margin-left: 0;
      padding-left: 0.2rem;
}
.iso img {
      margin-top: 2rem;
      padding-bottom: 0;
}
.ne img {
      margin-top: 0;
      padding-top: 0;
}
.ne-text {
      padding-top: 1.3rem;
      margin-top: 0.1rem;
}
/* CHOLESTERIC */
.article-ch__figure-img {
      display: flex;
      flex-flow: column nowrap;
}
.article-ch__figure-img .first-text {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0;
      padding-bottom: 0;
      row-gap: 1em;
}
.article-ch__figure-img .images {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 0;
      padding-top: 0;
}
.article-ch__figure-img .last-text {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
}
.article-ch__figure img {
      -webkit-animation: rotateMolecule 2s ease-out infinite;
      animation: rotateMolecule 2s ease-out infinite;
}
@-webkit-keyframes rotateMolecule {
      100% {
           -webkit-transform: rotateY(360deg);
      }
}
@keyframes rotateMolecule {
      100% {
           -webkit-transform: rotateY(360deg);
      }
}
.images:nth-child(2), .images:nth-child(3), .images:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      align-items: flex-end;
}
.first-text:first-child {
      padding-left: 0;
      margin-left: 0;
}
.figure-ch {
      padding: var(--PADDING-TB) var(--PADDING-SIDE);
      margin: var(--MARGIN);
}
.figure-text {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
}
.ch {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
}
.ch-section {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: var(--MARGIN);
      padding-top: 2.3em;
}
.ch-section video {
      border: var(--BORDERS);
      border-radius: var(--BORDER-RADIUS);
}
.ch p {
margin-top: 0.5rem;
padding-top: 0;
padding-left: 1.5rem;
}
.ch-section-text {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
}
.ch-section-text img {
      border: var(--BORDERS);
      border-radius: var(--BORDER-RADIUS);
}
.ch-section-text:last-child {
      padding: var(--PADDING-TB);
      text-align: center;
      margin: var(--MARGIN);
}
.applications {
      margin-top: 2rem;
}
/* BASES */
.bases-figure video {
      border: var(--BORDERS);
      border-radius: var(--BORDER-RADIUS);
}
.bases p {
      margin-bottom: 5em;
}
/* HOME */
.parallax {
      pointer-events: none;
      transition: none;
}
.bg-img {
      position: absolute;
      width: 500%;
      top: 1.86%;
      left: 0;
      height: fit-content;
      z-index: 1;
      background-image: url(/images2/images/dard\ waves2.jpg);
      background-size: cover;
      background-position: left;
      opacity: 0.4;
      overflow: hidden;
}
.bg-img_2 {
      position: absolute;
      width: 900%;
      top: 1.86%;
      left: 100%;
      height: fit-content;
      z-index: 1;
      background-image: url(/images2/images/dard\ waves2.jpg);
      background-size: cover;
      background-position: right;
      opacity: 0.4;
      overflow: hidden;
}
.mid-3 {
      position: absolute;
      z-index: 2;
      top: 37.7%;
      left: 70.8%;
      width: 132%;
      opacity: 0.3;
}
.mid-12 {
      position: absolute;
      z-index: 3;
      top: 63.58%;
      width: 71.52%;
      left: 67.84%;
      opacity: 0.4;
}
.top-11 {
      position: absolute;
      z-index: 4;
      top: 62.09%;
      left: 50.4%;
      width: 129.3%;
      opacity: 0.4;
}
.mid-4 {
      position: absolute;
      z-index: 5;
      top: 63.95%;
      width: 32.63%;
      left: 18.3%;
      opacity: 0.7;
}
.down-2 {
      position: absolute;
      z-index: 6;
      top: 60.6%;
      width: 56.25%;
      left: 36%;
      opacity: 0.2;
}
.mid-5 {
      position: absolute;
      z-index: 7;
      top: 69.7%;
      left: 51.3%;
      width: 31.25%;
      opacity: 0.5;
}
.up-8 {
      position: absolute;
      z-index: 8;
      width: 37.36%;
      top: 65.18%;
      left: 71.18%;
      opacity: 0.3;
}
.text {
      position: absolute;
      z-index: 9;
      top: 45%;
      left: 20%;
      text-align: center;
      color: var(--FONT-COLOR);
      pointer-events: auto;
}
.text h1 {
      font-weight: 800;
      line-height: 0.88;
      font-size: 8.7rem;
}
.mid_blue-3 {
      position: absolute;
      z-index: 10;
      top: 57.4%;
      width: 28.33%;
      left: 90.97%;
      opacity: 0.3;
}
.down-14 {
      position: absolute;
      z-index: 11;
      top: 60.7%;
      left: 45.84%;
      width: 40.27%;
      opacity: 0.1;
}
.mid-122 {
      position: absolute;
      z-index: 12;
      top: 70.86%;
      width: 43.4%;
      left: 59%;
      opacity: 0.3;
}
.top_big-11 {
      position: absolute;
      z-index: 13;
      top: 63.58%;
      left: 48.27%;
      width: 107.63%;
      opacity: 0.4;
}
.mid_blue-32 {
      position: absolute;
      z-index: 14;
      top: 74.19%;
      width: 54.16%;
      left: 23.55%;
      opacity: 0.3;
}
.mid-10 {
      position: absolute;
      z-index: 15;
      top: 61.35%;
      left: 101.11%;
      width: 32.22%;
      opacity: 0.3;
}
.mid_blue-33 {
      position: absolute;
      z-index: 16;
      top: 68.14%;
      left: 48%;
      width: 108.33%;
      opacity: 0.3;
}
.mid-123 {
      position: absolute;
      z-index: 17;
      top: 69.01%;
      left: 78.61%;
      width: 47.91%;
      opacity: 0.3;
}
.mid-5 {
      position: absolute;
      z-index: 18;
      top: 52%;
      left: 8.27%;
      width: 37.15%;
      opacity: 0.3;
}
.up-6 {
      position: absolute;
      z-index: 21;
      top: 59.26%;
      left: 50.69%;
      width: 111.8%;
      opacity: 0.3;
}
